html {
    /* Перевод в rem:
    1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

#under-title {
    margin: 1rem auto 1rem;
    font-size: 2.25rem;
    font-weight: 600;
}

#img-caption {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
}

h2 {
    margin: 3rem auto 1rem;
    font-size: 3.25rem;
}

#headline {
    text-align: center;
    font-weight: bold;
    margin: 50px auto 0;
    font-size: 3.25rem;
}


h3 {
    margin: 2.5rem auto 0;
    font-size: 2.25rem;
}

@media (max-width: 460px) {
    h2 {
        font-size: 2.25rem;
        line-height: 1.2;
    }
    #headline {
        font-weight: bold;
        margin: 50px auto 0;
        font-size: 2.25rem;
    }
    h3 {
        margin: 2.5rem auto -0.5rem;
        font-size: 1.6rem;
    }
}

#htu {
    margin-bottom: -1rem;
}

a {
    color: #477ca7;
    text-decoration: none;
}

a:hover {
    text-decoration: 0.17rem underline #477ca7;
}

a:visited {
    color: #74638f;
    text-decoration: none;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

@media (max-width: 460px) {
    #main {
        margin: 0;
    }
}

img {
    max-width: 30%;
    display: block;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 460px) {
    img {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

@media (min-width: 460px) {
    #page-info {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


li {
    margin: 16px 0;
}

@media (max-width: 460px) {
    #page-info {
        text-align: left;
        margin-left: 2rem;
        margin-right: 1.5rem;
    }
    ol {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}

.instr {
    color: #477ca7;
    text-decoration: 0.17rem underline #477ca7;
}

.instr:hover {
    color: #74638f;
    text-decoration: 0.17rem underline #74638f;
}

.instr:visited {
    color: #74638f;
    text-decoration: none;
}

#page-link1 {
    margin: 5rem auto 0.5rem;
    font-size: 2.25rem;
}

#page-link2 {
    margin: 0 auto 2rem;
    font-size: 2.25rem;
}

@media (max-width: 460px) {
    #page-link1, #page-link2 {
        font-size: 1.7rem;
    }
}